*{
  padding: 0px;
  margin: 0px;
  background: rgb(15, 13, 13);
}

.container{
  height: 500px;
  width: 50%;
  margin-inline: auto;
  margin-top: 30px;
  border: yellowgreen 3px solid;
  padding: 15px;
  box-shadow: 3px 3px 10px green;
  border-radius: 15px;
  color: white;
  overflow: auto;

}

.btn{
  width: 50%;
  margin-inline: auto;
  margin-top: 30px;
}

.b{
  padding: 10px;
  background: rgb(15, 13, 13);
  border: yellowgreen 2px solid;
  color: yellowgreen;
  border-radius: 50px;
}

.b:hover{
  background: yellowgreen;
  color: white;
  border: none;
  cursor: pointer;
}

ol{
  color: white;
}